@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

:root {
  --background: #A7A9AC;
  --foreground: #171717;
  --yellow: #FFC742;
  --yellowhover: #ffd471;
  --grey: #A7A9AC;
  --greytext: #454545;
  --lightgrey: #ced0d1;
  --green: #6BBE59;
  --green-10: #6bbe5930;
  --black: #231F20;
  --white: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist-sans);
}

.cls-1 {
  fill: var(--white);
}
